{% extends 'main/base.html' %}


{% block title %}
WALLET
{% endblock %}

{% block header %}
<h1>WALLET</h1>
<p>На этой странице вы можете создать шаблон письма и отправить его по списку рассылки.</p>
<hr>
    <ul>
      {% for trans in prod %}
      <li>
        <p>Кошелёк:{{ trans.wallet }}, сумма:{{ trans.amount }} руб., вид операции:{{ trans.transaction_type }}, дата:{{ trans.date }}, комментарий:{{ trans.description }}.</p>
      </li>
      {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<!--    {% for item in addressees %}-->
<!--        <h3>{{ item.first_name }} {{ item.last_name }}</h3>-->
<!--        <p><strong>Email:</strong> {{ item.email }} <strong>Группа:</strong> {{ item.group }} <strong>Включить в рассылку:</strong> {{ item.add }}</p>-->
<!--    {% endfor %}-->
{% endblock %}

